HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### Jenkins ###
r-and-d-infrastructure/jenkins_home_backup

r-and-d-infrastructure/jenkins_home/*.*
!r-and-d-infrastructure/jenkins_home/*.xml

r-and-d-infrastructure/jenkins_home/*/*.*
!r-and-d-infrastructure/jenkins_home/*/*.xml

r-and-d-infrastructure/jenkins_home/*/*/*.*
!r-and-d-infrastructure/jenkins_home/*/*/*.xml

r-and-d-infrastructure/jenkins_home/*/*/*/*

!r-and-d-infrastructure/jenkins_home/jobs
r-and-d-infrastructure/jenkins_home/jobs/*/*
!r-and-d-infrastructure/jenkins_home/jobs/*/config.xml

!r-and-d-infrastructure/jenkins_home/plugins
r-and-d-infrastructure/jenkins_home/plugins/*
!r-and-d-infrastructure/jenkins_home/plugins/*.jpi
